@{
    ViewData["Title"] = "About Press Release";
}

<header>
    <div class="page-header">
      <h1>@ViewData["Title"]</h1>
    </div>    
</header>

<div class="container">
    <div class="row">
        <div class="lead col-md-3">
            <p><strong><span class="fa fa-paper-plane"></span> Press Release</strong> is a utility borne of frustration and curiosity. We hope that you find it useful.</p>
            <p>If you find a bug, have a suggestion, or want to contribute to the project, please check out <a href="https://github.com/somewhatabstract/PressRelease">our GitHub repository</a>.</p>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                  <div class="panel-heading">
                        <h3 class="panel-title">Release Notes</h3>
                  </div>
                  <div class="panel-body">
                        Put some <span class="fa fa-paper-plane"></span> Press Release-generated release notes about Press Release here.
                  </div>
            </div>
        </div>
    </div>
</div>

