@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <section class="col-md-12">
        <h2>Welcome to <span class="text-primary">PressRelease</span> by CareEvolution, Inc.</h2>
        <p>Login to continue.</p>
    </section>
</div>
<div class="row">
</div>
