@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <section class="col-md-12">
        <h2>Choose a branch</h2>
        <form asp-controller="GitHub" asp-action="ChooseBranch" method="post" id="branchForm" >
        </form>
    </section>
</div>
<div class="row">
</div>
