@using Microsoft.AspNetCore.Identity
@using PressRelease.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-right nav">
                <div class="navbar-text">Hello @UserManager.GetUserName(User)!</div>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form></div>
}
else
{
    <form asp-controller="Account" asp-action="Login" method="post" id="loginForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log in with <span class="fa fa-github"></span> GitHub</button>
            </li>
        </ul>
    </form>
}
